<nav class="navbar navbar-expand-lg navbar-light bg-light rounded mb-4 p-3">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link <%- activePage === 'home' ? 'active fw-bold' : '' %>" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%- activePage === 'posts' ? 'active fw-bold' : '' %>" href="/posts">Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%- activePage === 'contact' ? 'active fw-bold' : '' %>" href="/contact">Contact</a>
      </li>
      <li>
        <ul class="navbar-nav ms-auto">
          <% if (isLoggedIn) { %>
           <li class="nav-item">
            <a class="nav-link text-danger" href="/logout">Logout</a>
           </li>
           <% } else { %>
            <li class="nav-item">
              <a class="nav-link text-primary" href="/login">Login</a>
            </li>
            <% } %>
        </ul>
    </li>
    </ul>
  </div>
</nav>
