<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <title>My blog</title>
</head>
<body>
  <div class="container mt-4">
    <%- include("partials/navbar.ejs") %>   
    <div class="p-5 mb-4 bg-light rounded-3">
      <h1 class="display-4">My blog</h1>
      <p class="lead">This is a Node.js based blog.</p>
      <hr class="my-4">
      <p>To add new posts, please login.</p>
      <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
    </div>
  </div>
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>